<div class="navbar navbar-expand-sm navbar-light navbar-canari">
  <%= link_to root_path, class: "navbar-brand canari-color" do %>
    <%= image_tag("logo.svg") %>
  <% end %>


  <button class="navbar-toggler toggler-example" type="button" data-toggle="collapse" data-target="#collapseExample"
    aria-controls="collapseExample" aria-expanded="false">
    <span class="dark-amber-text"> <i class="fas fa-bars fa-1x"></i> </span>
  </button>


  <div class="collapse navbar-collapse" id="collapseExample">
    <ul class="navbar-nav mr-auto">
      <% if user_signed_in? %>
        <li class="nav-item active">
          <%= link_to t("Home"), root_path, class: "nav-link text-white" %>
        </li>
        <li class="nav-item">
          <%= link_to t("Forum"), chatrooms_path, class: "nav-link text-white" %>
        </li>
        <li class="nav-item">
          <%= link_to t("yourRead"), read_path, class: "nav-link text-white" %>
        </li>
        <li class="nav-item">
          <%= link_to t("edit"), edit_user_registration_path, class: "nav-link text-white" %>
        </li>
        <li class="nav-item">
          <%= link_to t("Log out"), destroy_user_session_path, method: :delete, class: "nav-link text-white" %>
        </li>
        <li class="nav-item dropdown">
          <div class="text-center">
            <% if current_user.photo.attached? %>
              <img src="http://res.cloudinary.com/dwustkks4/image/upload/<%= current_user.photo.key %>" alt="<%= current_user.username %>" class="avatar dropdown-toggle"  id= "navbarDropdown" data-toggle= "dropdown" aria-haspopup= "true" aria-expanded="false">
            <% else %>
              <%= image_tag 'user.svg' , class: "avatar dropdown-toggle", id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
            <% end %>
              <p><%= current_user.coins %> <i class="fas fa-coins" style="color: yellow "></i></p>
          </div>
        </li>
      <% else %>
        <li class="nav-item">
          <%= link_to t("navbar.library"), books_path, class: "nav-link text-white"  %>
        </li>
        <li class="nav-item">
          <%= link_to t("navbar.login"), new_user_session_path, class: "nav-link text-white" %>
        </li>
        <li class="nav-item">
          <%= link_to t("navbar.sign_up"), new_user_registration_path, class: "nav-link text-white"  %>
        </li>
        <li>

        </li>
      <% end %>
    </ul>
  </div>
</div>
