<p>new</p>

<%= simple_form_for [@request] do |f| %>
  <%= f.input :name %>
  <%= f.input :author %>
  <%= f.input :photos, as: :file, input_html: { multiple: true } %>
  <%= f.button :submit, "Submit" %>
<% end %>
