<!-- <div class="d-flex flex-column align-items-center mb-5">
  <%= form_tag books_path, method: :get do %>
    <%= text_field_tag :query,
      params[:query],
      class: "form-control form-search col-xl-12 col-lg-12 col-md-12 col-sm-12 form-index mb-3",
      placeholder: "Find"
    %>
    <%= submit_tag "Search", class: "btn btn-primary" %>
  <% end %>
</div> -->

<h2 class="text-center" style="font-size: 5rem"> <%= t("library") %></h2>
<div class="cards">
  <% @books.each do |book| %>
    <div class="card-home">
      <%= link_to book_path(book) do %>
        <%= cl_image_tag book.cover.key, height: 250, width: 200,crop: :fill %>
      <% end %>
    </div>
  <% end %>
</div>
