
<%= form_tag books_path, method: :get do %>
  <%= text_field_tag :query,
    params[:query],
    class: "form-control",
    placeholder: "Find"
  %>
  <%= submit_tag "Search", class: "btn btn-primary" %>
<% end %>

<div class="slider">
  <div class="swiper-container">
    <div class="swiper-wrapper">
      <% @books.each do |book| %>
        <div class="swiper-slide">
          <%= link_to book_path(book) do %>
            <%= cl_image_tag book.cover.key, height: 250, width: 200,crop: :fill %>
          <% end %>
        </div>
      <% end %>
    </div>
    <!-- Add Pagination -->
    <div class="swiper-scrollbar"></div>
  </div>
</div>
