<h2><%= @book.name %> </h2>
<h2>
  <%= pluralize @book.reviews.size, "review" %>
</h2>

<div id="episodes">
  <% @book.episodes.each do |episode| %>
    <% if current_user.sessions == [] %>
      <%= simple_form_for([ @book, episode, @session ], html: { class: "session_form" }, remote: true) do |f| %>
        <%= f.button :submit, episode.title %>
      <% end %>
    <% else %>
      <% current_user.sessions.each do |session| %>
        <% if session.episode != episode %>
          <%= simple_form_for([ @book, episode, @session ], html: { class: "session_form" }, remote: true) do |f| %>
            <%= f.button :submit, episode.title %>
          <% end %>
        <% else %>
          <%= link_to episode.title, book_episode_path(@book,episode) %>
        <% end %>
      <% end %>
    <% end %>
  <% end %>
</div>

<div id="reviews">
  <% if @book.reviews.blank? %>
    Be the first to leave a review for <%= @book.name %>
  <% else %>
    <% @book.reviews.each do |review| %>
      <p><%= review.content %></p>
      <p><%= review.rating %></p>
      <p><%= review.user.username if review.user %></p>
    <% end %>
  <% end %>
</div>

<%= simple_form_for([ @book, @review ], html: { class: "review_form" }, remote: true) do |f| %>
  <%= f.input :content, as: :text %>
  <%= f.input :rating, collection: (1..5).to_a, label: "Rate your experience" %>
  <%= f.button :submit %>
<% end %>
