<div class="book-container">
  <img src="http://res.cloudinary.com/dwustkks4/image/upload/c_fill,w_250,h_300/<%= @book.cover.key %>" alt="<%= @book.name %>">
  <div class="book-show-details">
    <h2><%= @book.name %> </h2>
    <p style="color: green"><%= @book.category %></p>
    <p><%= @book.editor %> / <%= @book.author %> / <%= @book.drawer %></p>
    <p><%= @book.synopsis %></p>
  </div>
</div>

<h2 class="text-center"><i class="fas fa-list-ul"></i> <%= t("Episodes") %></h2>

  <div class="cards">
    <% @book.episodes.each do |episode| %>
      <div class="card-show-episode justify-content-center">
        <%= link_to book_episode_path(@book, episode) do %>
          <img src="http://res.cloudinary.com/dwustkks4/image/upload/c_fill,w_200,h_250/<%= @book.cover.key %>" alt="<%= @book.name %>">
        <% end %>
        <p><%= episode.title %></p>
      </div>
    <% end %>
  </div>





<h2 class="text-center">
  <%= pluralize @book.reviews.size, "review" %>
  <%= @book.average_rating %>
</h2>



<div id="reviews">
  <% if @book.reviews.blank? %>
    Be the first to leave a review for <%= @book.name %>
  <% else %>
    <% @book.reviews.each do |review| %>
    <div class="review">
      <% if review.user.photo.attached? %>
        <img src="http://res.cloudinary.com/dwustkks4/image/upload/c_fill,w_200,h_250/<%= review.user.photo.key %>" alt="<%= review.user.username %>" class="avatar">
      <% else %>
        <%= image_tag 'user.svg' , class: "avatar" %>
      <% end %>
      <div class="review-content">
        <div class="star-display ">
          <% review.rating.times do  %>
            <%= image_tag('star.svg') %>
          <% end %>
        </div>
        <p><%= review.content %></p>
      </div>
    </div>
    <% end %>
  <% end %>
</div>

<div class="container mt-5">
  <h3 class="text-center"><%= t('Comment') %></h3>
  <div class="row d-flex justify-content-center">
    <div class="col-lg-6 col-md-6 col-12 text-center">
      <%= simple_form_for( [ @book, @review ] , html: { class: "review_form" }, remote: true) do |f| %>
        <%= f.input :rating, collection: (1..5).to_a, label: "Rate your experience" %>
        <%= f.input :content, as: :text %>
        <%= f.button :submit, class: "btn-ghost" %>
      <% end %>
    </div>
  </div>
</div>

