<div class="book-container">
  <%= cl_image_tag @book.cover.key, height: 300, width: 250,crop: :fill %>
  <div class="book-show-details">
    <h2><%= @book.name %> </h2>
    <p style="color: green"><%= @book.category %></p>
    <p><%= @book.editor %> / <%= @book.author %> / <%= @book.drawer %></p>
    <p><%= @book.synopsis %></p>
  </div>
</div>

<h2 class="text-center"><i class="fas fa-list-ul"></i> <%= t("Episodes") %></h2>
<% if @book.episodes.count < 4 %>
  <div class="cards">
    <% @book.episodes.each do |episode| %>
      <div class="card-home justify-content-center">
        <%= link_to book_episode_path(@book, episode) do %>
          <%= cl_image_tag @book.cover.key, height: 250, width: 200,crop: :fill %>
        <% end %>
    </div>
    <% end %>
  </div>

<% else %>
  <div class="slider">
    <div class="swiper-container">
      <div class="swiper-wrapper">
        <% @book.episodes.each do |episode| %>
          <div class="swiper-slide" style="background: transparent">
            <%= link_to book_episode_path(@book, episode) do %>
              <%= cl_image_tag @book.cover.key, height: 250, width: 200,crop: :fill %>
            <% end %>
          </div>
        <% end %>
      </div>
      <!-- Add Pagination -->
    <div class="swiper-scrollbar"></div>
    </div>
  </div>
<% end %>




<h2 class="text-center">
  <%= pluralize @book.reviews.size, "review" %>
  <%= @book.average_rating %>
</h2>



<div id="reviews">
  <% if @book.reviews.blank? %>
    Be the first to leave a review for <%= @book.name %>
  <% else %>
    <% @book.reviews.each do |review| %>
    <div class="review">
      <%= cl_image_tag review.user.photo.key, class: "avatar"%>
      <div class="review-content">
        <div class="star-display ">
          <% review.rating.times do  %>
            <%= image_tag('star.svg') %>
          <% end %>
        </div>
        <p><%= review.content %></p>
      </div>
    </div>
    <% end %>
  <% end %>
</div>

<div class="container mt-5">
  <h3 class="text-center"><%= t('Comment') %></h3>
  <div class="row d-flex justify-content-center">
    <div class="col-lg-6 col-md-6 col-12 text-center">
      <%= simple_form_for([ @book, @review ], html: { class: "review_form" }, remote: true) do |f| %>
        <%= f.input :rating, collection: (1..5).to_a, label: "Rate your experience" %>
        <%= f.input :content, as: :text %>
        <%= f.button :submit, class: "btn-ghost" %>
      <% end %>
    </div>
  </div>
</div>

