<!DOCTYPE html>
<html>
  <head>
    <title>Le Canari</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%=  stylesheet_link_tag 'swiper.min.css'%>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>
    <%= javascript_pack_tag 'swiper' %>

  </head>
  <body>
    <div class="canari-reader">
      <%= render 'shared/navbar-reader' %>
      <%= yield %>
      <%= render 'shared/flashes' %>
    </div>
    <%= render 'shared/footer-reader' %>
  </body>
</html>
